#logo{
    
    background: blue;
    
}

#menu ul li:hover{
    background: blue;;
}

body{
    background: url('../img/blue.jpg');
    background-attachment: fixed;
}

#acordeon h3{
    background-color: blue;
    color: white;
    
}

#reloj {
    border: 5px dashed blue;
}